@tailwind base;
@tailwind components;
@tailwind utilities;

.html{
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.banner {
  width: 100%;
  max-width: 1500px; /* Ensure the banner has a maximum width */
  overflow: hidden;
}


.carousel-with-margin .control-dots {
  margin-top: 20px;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 280px;
  perspective: 1000px; /* 3D perspective */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side */
  border-radius: 20px;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.image-style {
  border-radius: 20px;
  object-fit: cover;
}

.flip-card-back {
  background-color: #f0f4ff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: rotateY(180deg);
}

.social-icons {
  display: flex;
  justify-content: space-around;
  width: 120px;
  font-size: 20px;
  color: #3b3b3b;
}

.flip-card-back p {
  margin: 5px 0;
}


/* Content.css */

.active {
  background-color: red;
}

.dropdown-content {
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.dropdown-content.max-h-96 {
  max-height: 400px;
}

/* styles.css or your main CSS file */
.slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.slide-out {
  animation: slide-out 0.3s ease-out forwards;
}

/* styles.css or your main CSS file */
.slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.slide-out {
  animation: slide-out 0.3s ease-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

button {
  background-color: #152765;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #0f1d50;
}

.cities-container {
  display: flex;
  gap: 1rem;
}
